@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    --font-family: "Poppins";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-grey);
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family), sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: var(--white);
    border-radius: 20px;
    border-bottom-right-radius: 30%;
    width: min(90%, 600px);
    height: 70%;
    max-height: 450px;
    padding: 2rem;
    position: relative;
}

.card__header {
    display: flex;
    gap: 1.5rem;
    width: 80%;
    color: var(--smokey-grey);
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 2rem;
}

.card-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
    max-width: 110px;
}

.card-input--error {
    color: var(--light-red);
}

.card-input--error .card-input__text {
    border-color: var(--light-red);
}

.card-input__label {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

.card-input__error {
    color: var(--light-red);
    font-size: 0.6rem;
}

.card-input__text {
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    outline: none;
    height: 50px;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

input.card-input__text:focus-visible {
    border: 1px solid var(--purple);
    caret-color: var(--purple);
}

.card__btn {
    background: var(--purple);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    right: 80px;
    top: 110px;
}

.card__body {
    height: 75%;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
}

.card-answer__text {
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    line-height: 100%;
}

.card-answer__number {
    color: var(--purple);
}

.hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    .card__header {
        width: 100%;
        padding-bottom: 2.5rem;
    }

    .card__btn {
        top: 120px;
        right: 50%;
        transform: translateX(50%);
    }
}
